@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit);
  --font-inter: var(--font-inter);
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-outfit), sans-serif;
  letter-spacing: -0.02em;
}

p, span, div {
  font-family: var(--font-inter), sans-serif;
}
